<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        video {
            width: 200px;
        }
    </style>
</head>

<h1>Web chat!!!!!!</h1>
<h2>roomName = <%= roomName %></h2>
<video id="local-video" autoplay></video>
<div id='videos'></div>

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='https://cdn.webrtc.ecl.ntt.com/skyway-latest.js'></script>

<script>
    const roomName = '<%= roomName %>';
</script>
<script src="js/video.js"></script>

</body>

</html>